* {
	-fx-background-color: #191919;
	-fx-alignment: center;
	-fx-padding: 5px;
}

.roundbutton {
	
	-fx-font-size: 16pt;	
    -fx-text-fill: #BB86FC;
     
    -fx-border-insets: 5px;
	-fx-background-insets: 5px;
    
    -fx-background-color: #212121;
}