* {
	-fx-background-color: #16213e;
	-fx-alignment: center;
	-fx-padding: 5px;
}

.roundbutton {
	
	-fx-font-size: 16pt;	
     
    -fx-border-insets: 5px;
	-fx-background-insets: 5px;

}

.label {
	-fx-font-size: 12pt;
}

.slider .track {	
	-fx-pref-height: 3;
	-fx-background-color: #0f3460;
}

.slider .thumb {
	-fx-pref-height: 15;
	-fx-pref-width: 15;
	-fx-background-color: #5fb9b0;
}